@import './base.css';

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    display: none;
    background: 0 0;
  }

.mai-card {
  box-shadow: 0 0 0 2px #2e94f4, 0 0 0 6px #fff, 1px 8px 8px rgba(0, 0, 0, 0.2),
    0 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  /* min-width: 400px; */
  padding: 10px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container {
  box-shadow: 0 0 0 2px #ff6a6a, 0 0 0 6px #fff, 1px 8px 8px rgba(0, 0, 0, 0.2),
    0 12px rgba(0, 0, 0, 0.2) !important;
}

.town_block {
  background: #fff url(/back_town_01.png) bottom no-repeat;
  background-size: 485px;
  /* box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4); */
  border-radius: 5px;
}

.card-container {
  width: 400px;
}

@media screen and (max-width: 726px) {
  .card-container {
    width: 92vw;
    margin: 0 auto;
  }
}